.services {
  padding-top: 6vmax;
}

.services__head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.services__head > * {
  width: 50%;
}
@media (max-width: 991px) {
  .services__head {
    flex-direction: column;
  }
  .services__head > * {
    width: 100%;
  }
}
.services__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 991px) {
  .services__list {
    grid-template-columns: 1fr;
  }
}
